# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PreparazioneSecondaProva/Debug/
EsercitazioneStruct/Debug/
Matrici/Debug/
Funzioni/Debug/
PreparazionePrimaProva/Debug/
Debug/
ipch/ARRAY-fa69bab7/
Esercitazioni.sdf
Esercitazioni.VC.opendb
